.password-container {
  position: relative;
  display: inline-block;
  width: 395px;
}

.password-field {
  width: 100%;
  padding-right: 32px;
  padding-left: 8px;
  border: 1px solid #D9D9D9;
  border-radius: 9px;
  height: 32px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 100%;
  box-sizing: border-box;
}
.password-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  object-fit: contain;
  cursor: pointer;
}


