*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; 
}

.page-contain{
  display: flex;
  height:100vh;
  width: 100%;
  background-color: #EDF6FF;
}

.title-wrapper {
  line-height: 1; 
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.left-title{
  font-family: 'Lora', serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #231f93;
  margin: 0;
  padding: 0;

}

.care{
  margin-left: 100px;
  margin-top: -10px;
}


.side-panel{
    position: fixed;
    top: 80px;
    left: 10px;
    
    width: clamp(120px, 7vw, 200px);
    height: clamp(400px, 85vh, 900px);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;

    border: 1px solid #ccc;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    text-align: center;

    padding: 21px 10px;
    overflow-y: auto;

}
.panel-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;;
}
 .panel-logos{
    height: 22px;
    width: 22px;
    object-fit: contain;
 }

 .panel-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 5px;

 }
 .logout{
  margin-top: auto;
 }
 .panel-text-blue{
  color:#091ED7;
 }
 .panel-text-red{
  color: #9D2C2C;
 }

 .total-boxes{
  display: flex;
  flex-direction: row;
  gap:60px;
 }

 .data-box{
  background-color: white;
  width: clamp(170px, 15vw, 200px);
  height: clamp(135px, 10vh, 145px);
 }