
.signup_info {
  display: flex;
  flex-direction: column; 
  margin: 0 auto;
  width: 404px;
}

.signup_button{
  width: 404px;
  background-color: #231f93;
  border: 1px solid #231f93;
  color: white;
  font-size: 13px;
  font-style: bold;
  padding: 7px 32px;
  border-radius: 9px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;

}

input{
  width: 395px;
  border-radius: 9px;
  border: 1px solid #D9D9D9;
  padding-left: 8px;
  height: 32px;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
}

.input_names{
margin: 2px ;
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: normal;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;

}

.signup_info input {
  margin-top: 0;       
  margin-bottom: 25px;  
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 60px;
}

.or{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 9px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.other-options{
  display: flex;          /* puts children in a row */
  justify-content: space-between; /* adds space between them */
  width: 404px;  
}

.google{
  height: 32px;
  width:190px;
  border-radius: 9px;
  background-color: white;
  border: 1px solid #D9D9D9;
  padding-left: 0px;
}

.google-icon{
  width: 20px;
  height: 20px;
}

.apple{
  height: 32px;
  width:190px;
  border-radius: 9px;
  background-color: white;
  border: 1px solid #D9D9D9;
}